# platform = multi_platform_all
# reboot = false
# strategy = configure
# complexity = low
# disruption = low

{{% for path in FILEPATH %}}
{{% if IS_DIRECTORY and FILE_REGEX %}}
readarray -t files < <(find {{{ path }}})
for file in "${files[@]}"; do
    if basename $file | grep -qE '{{{ FILE_REGEX[loop.index0] }}}'; then
        chown {{{ FILEUID }}} $file
    fi
done
{{% else %}}
chown {{{ FILEUID }}} {{{ path }}}
{{% endif %}}
{{% endfor %}}
