# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv
# reboot = false
# strategy = enable
# complexity = low
# disruption = low
# Include source function library.
. /usr/share/scap-security-guide/remediation_functions

{{% if SEBOOL_BOOL %}}
setsebool -P {{{ SEBOOLID }}} {{{ SEBOOL_BOOL }}}
{{% else %}}
{{{ bash_instantiate_variables("var_" + SEBOOLID) }}}

setsebool -P {{{ SEBOOLID }}} $var_{{{ SEBOOLID }}}
{{% endif %}}
