# platform = multi_platform_all
# reboot = false
# strategy = enable
# complexity = low
# disruption = low
- name: Enable mount {{{ MOUNTNAME }}}
  systemd:
    name: "{{{ MOUNTNAME }}}.mount"
    enabled: "yes"
    state: "started"
    masked: "false"
