{{{
oval_check_dropin_file(
	path=MASTER_CFG_FILE,
	dropin_dir=DROPIN_DIR,
	section=SECTION,
	parameter=PARAM,
	value=VALUE,
	no_quotes=NO_QUOTES,
	missing_parameter_pass=MISSING_PARAMETER_PASS
)
}}}
