# Files and directories not to track in git tree

# Global files for the entire tree
*.swp
*~
*.pyc

# Build files
rpmbuild
container_build/
build/

# Ignore docs tmp directories
docs/Developer_Guide/tmp
docs/SCAP_and_STIG_Workshop/tmp
docs/User_Guide/tmp

# Ignore docs publish directories
docs/Developer_Guide/publish
docs/SCAP_and_STIG_Workshop/publish
docs/User_Guide/publish

# Ignore docs SCAP_Security_Guide directory
docs/html/en-US/SCAP_Security_Guide

# Ignore PCI_DSS_v3-1.pdf
shared/transforms/pcidss/PCI_DSS_v3-1.pdf

# Ignore zipfile and tarball dirs
zipfile/
tarball/

# Ignore QtCreator files
CMakeLists.txt.user

# Ignore VIM's ropeproject files
.ropeproject

# Ignore pytest cache
.pytest_cache/

# Ignore Visual Studio Code configuration files
.vscode/

# Ignore IntelliJ Idea configuration files
.idea/

# Ignore release tools data file
release_tools/.env
release_tools/.jenkins_builds
release_tools/*.log
release_tools/release_notes.txt
release_tools/artifacts

# Ignore the test profile that utils/add_platform_rule.py creates
ocp4/profiles/test.profile

# Ignore the build profiling files
.build_profiling/*

# Ignore .ssh folder that is used by gitpod integration to store
# keys used for automatus backends
.ssh

# Ignore MyPy Cache
.mypy_cache/

# Ignore build profiling data
.build_profiling/
