# People here are sorted by last name

Edgar Aguilar <edgar.aguilar@oracle.com>
Edgar Aguilar <edgar.aguilar@oracle.com> <xeicker@gmail.com>

Gabe Alford <redhatrises@gmail.com>

Firas AlShafei <firas.alshafei@us.abb.com>
Firas AlShafei <firas.alshafei@us.abb.com> <firas.alshafei@gmail.com>

Jeff Blank <blank@eclipse.ncsc.mil>
Jeff Blank <blank@eclipse.ncsc.mil> <jeff@t440.local>

Dominique Blaze <dominique.blaze@devinci.fr> <dominique.blaze@edu.devinci.fr>

Olivier Bonhomme <ptitoliv@ptitoliv.net>

Ted Brunell <tbrunell@redhat.com> <tbrunell@tbrunell.corp.redhat.com>

Marcus Burghardt <maburgha@redhat.com> <marcus@mbsec.com.br>
Marcus Burghardt <maburgha@redhat.com> <2074099+marcusburghardt@users.noreply.github.com>

Matthew Burket <mburket@redhat.com> <m@tthewburket.com>

Frank Caviggia <fcaviggia@users.noreply.github.com> <fcaviggi@ra.iad.redhat.com>

Will Cushen  <54533890+wcushen@users.noreply.github.com> <wcushen@redhat.com>

Jean-Baptiste Donnette <jean-baptiste.donnette@epita.fr> <donnet_j@epita.fr>

Greg Elin <gregelin@gitmachines.com> <greg@fotonotes.net>

Andrew Gilmore <agilmore2@gmail.com> <agilmore@ecahdb2.bor.doi.net>

Marek Haicman <mhaicman@redhat.com> <dahaic@users.noreply.github.com>

John Hooks <jhooks@starscream.pa.jhbcomputers.com> <hooksie11@gmail.com>

Marc Jadoul <mgjadoul@laptomatic.auth-o-matic.corp> <marc.jadoul@gmail.com>

Lee Kinser <lee.kinser@gmail.com>

Joseph Lenox <joseph.lenox@collins.com> <jdlenox@labnet.rockwellcollins.lab>
Joseph Lenox <joseph.lenox@collins.com> <lordofhyphens@gmail.com>
Joseph Lenox <joseph.lenox@collins.com> <Joseph.Lenox@corp.rockwellcollins.com>
Joseph Lenox <joseph.lenox@collins.com> <Joseph.Lenox@collins.com>

Simon Lukasik <slukasik@redhat.com> <isimluk@fedoraproject.org>

Milan Lysonek <mlysonek@redhat.com> <milan.lysonek@gmail.com>

Zbynek Moravec <zmoravec@redhat.com> <ybznek@users.noreply.github.com>
Zbynek Moravec <zmoravec@redhat.com> <moraveczbynek@gmail.com>

Nathan Peters <Nathaniel.Peters@ca.com> <nathan@nathanpeters.com>
Nathan Peters <Nathaniel.Peters@ca.com> <petna01@ca.com>

Vojtech Polasek <vpolasek@redhat.com>
Vojtech Polasek <vpolasek@redhat.com> <Vojtech.Polasek@gmail.com>
Vojtech Polasek <vpolasek@redhat.com> <krecoun@gmail.com>

Martin Preisler <mpreisle@redhat.com> <martin@preisler.me>

Robin Price II <robin@redhat.com> <rprice@users.noreply.github.com>
Robin Price II <robin@redhat.com> <rprice@redhat.com>

Juan Antonio Osorio Robles <juan.osoriorobles@eu.equinix.com>
Juan Antonio Osorio Robles <juan.osoriorobles@eu.equinix.com> <jaosorior@redhat.com>
Juan Antonio Osorio Robles <juan.osoriorobles@eu.equinix.com> <jaosorior@gmail.com>

Vincent Shen <wenshen@redhat.com>
Vincent Shen <wenshen@redhat.com> <47534281+Vincent056@users.noreply.github.com>

Dave Smith <dsmith@eclipse.ncsc.mil> <dsmith@secure-innovations.net>
Dave Smith <dsmith@eclipse.ncsc.mil> <dsmith@eclipse.ncsc.mil>

Alexander Scheel <alexander.m.scheel@gmail.com> <alex.scheel@canonical.com>
Alexander Scheel <alexander.m.scheel@gmail.com> <alex.scheel@hashicorp.com>
Alexander Scheel <alexander.m.scheel@gmail.com> <ascheel@redhat.com>

Philippe Thierry <phil@reseau-libre.net> <phil@internal.reseau-libre.net>
Philippe Thierry <phil@reseau-libre.net> <philippe.thierry@reseau-libre.net>
Philippe Thierry <phil@reseau-libre.net> <philippe.thierry@thalesgroup.com>

Matěj Týč <matyc@redhat.com>
Matěj Týč <matyc@redhat.com> <matej.tyc@gmail.com>

Shawn Wells <shawn@redhat.com> <shawn@localhost.localdomain>
Shawn Wells <shawn@redhat.com> <shawnw@localhost.localdomain>
Shawn Wells <shawn@redhat.com> <shawndwells@gmail.com>
Shawn Wells <shawn@redhat.com> <shawn@shawndwells.io>

Achilleas John Yfantis <ayfantis@redhat.com> <achilleasein@gmail.com>
Achilleas John Yfantis <ayfantis@redhat.com> <ayfantis@localhost.localdomain>
