---
extends: default
locale: en_US.UTF-8
yaml-files:
  - "*.yaml"
  - "*.yml"
  - "*.fmf"
  - "*.profile"

# The Ansible role metadata template is filled by string substitution of
# @PLACEHOLDER@ tokens (including structural ones like @GALAXY_TAGS@), so it is
# not valid standalone YAML and cannot be linted.
ignore: |
  utils/ansible_galaxy_meta_template.yml

# https://yamllint.readthedocs.io/en/stable/rules.html
rules:
  truthy: disable # do not check for strict true / false boolean values
  comments: disable # disable syntax checking of comments
  comments-indentation: disable # disable indentation checks for comments
  document-start: disable # do not require the document start marker
  empty-lines:
    level: warning # only warn about empty lines
  indentation:
    # pass if spaces are used for indentation and number of spaces is consistent through a file
    spaces: consistent
  line-length: disable
