# Products

/tests/data/product_stability/rhel*.yml @ComplianceAsCode/red-hatters
/tests/data/product_stability/ol*.yml @ComplianceAsCode/oracle-maintainers
/tests/data/product_stability/sle*.yml @ComplianceAsCode/suse-maintainers
/tests/data/product_stability/ubuntu*.yml @ComplianceAsCode/ubuntu-maintainers

# Product Specific Profiles

/products/rhel*/profiles/ @ComplianceAsCode/red-hatters
/products/ol*/profiles/ @ComplianceAsCode/oracle-maintainers
/products/sle*/profiles/ @ComplianceAsCode/suse-maintainers
/products/ubuntu*/profiles/ @ComplianceAsCode/ubuntu-maintainers

# Product Specific Control Files

/controls/cis_rhel8.yml @ComplianceAsCode/red-hatters
/controls/cis_rhel9.yml @ComplianceAsCode/red-hatters
/controls/cis_sle12.yml @ComplianceAsCode/suse-maintainers
/controls/cis_sle15.yml @ComplianceAsCode/suse-maintainers
