# platform = multi_platform_all
# reboot = false
# strategy = configure
# complexity = low
# disruption = low

{{{ set_config_file(PATH, KEY, value=VALUE, create='yes', separator=SEP, separator_regex=SEP_REGEX, prefix_regex=PREFIX_REGEX) -}}}
