{{%- if XCCDF_VARIABLE -%}}
{{{ oval_check_config_file(PATH, prefix_regex=PREFIX_REGEX, parameter=KEY, separator_regex=SEP_REGEX, xccdf_variable=XCCDF_VARIABLE, variable_datatype=VARIABLE_DATATYPE, application=APP, missing_config_file_fail=true, rule_id=rule_id, rule_title=rule_title) }}}
{{%- else -%}}
{{{ oval_check_config_file(PATH, prefix_regex=PREFIX_REGEX, parameter=KEY, separator_regex=SEP_REGEX, value=VALUE, application=APP, missing_config_file_fail=true, rule_id=rule_id, rule_title=rule_title) }}}
{{%- endif -%}}
