<def-group>
    <definition class="inventory" id="{{{ _RULE_ID }}}" version="2">
        {{{ oval_metadata("", title="IPv6 is " + STATE + " on system", affected_platforms=[full_name], rule_title=rule_title) }}}
        {{%- if STATE == "disabled" %}}
        <criteria operator="OR">
            {{%- if bootable_containers_supported == "true" %}}
            <criteria operator="AND">
                <extend_definition comment="Verify system is in RHEL Image Mode (bootc)" definition_ref="bootc"/>
                <criterion test_ref="test_{{{ _RULE_ID }}}_bootc_kargs_ipv6_disable_is_set"
                    comment="check if ipv6.disable=1 is set in /usr/lib/bootc/kargs.d/*.toml"/>
            </criteria>
            {{%- endif %}}
            <criteria operator="AND">
                {{%- if bootable_containers_supported == "true" %}}
                <extend_definition comment="Verify system is NOT in RHEL Image Mode (bootc)" definition_ref="bootc" negate="true"/>
                {{%- endif %}}
                <criterion test_ref="test_{{{ _RULE_ID }}}_grub2_ipv6_disable_is_set"
                    comment="check if ipv6.disable=1 is set in GRUB_CMDLINE_LINUX"/>
            </criteria>
        </criteria>
        {{%- else %}}
        <criteria operator="OR">
            {{%- if bootable_containers_supported == "true" %}}
            <criteria operator="AND">
                <extend_definition comment="Verify system is in RHEL Image Mode (bootc)" definition_ref="bootc"/>
                <criterion test_ref="test_{{{ _RULE_ID }}}_bootc_kargs_ipv6_disable_is_set" negate="true"
                    comment="check if ipv6.disable=1 is not set in /usr/lib/bootc/kargs.d/*.toml"/>
            </criteria>
            {{%- endif %}}
            <criteria operator="AND">
                {{%- if bootable_containers_supported == "true" %}}
                <extend_definition comment="Verify system is NOT in RHEL Image Mode (bootc)" definition_ref="bootc" negate="true"/>
                {{%- endif %}}
                <criterion test_ref="test_{{{ _RULE_ID }}}_grub2_ipv6_disable_is_set" negate="true"
                    comment="check if ipv6.disable=1 is not set in GRUB_CMDLINE_LINUX"/>
            </criteria>
        </criteria>
        {{%- endif %}}
    </definition>

{{%- if bootable_containers_supported == "true" %}}
    <ind:textfilecontent54_test id="test_{{{ _RULE_ID }}}_bootc_kargs_ipv6_disable_is_set" version="1"
        check="at least one" check_existence="at_least_one_exists"
        comment="check if ipv6.disable=1 is set in /usr/lib/bootc/kargs.d/*.toml">
        <ind:object object_ref="object_{{{ _RULE_ID }}}_bootc_kargs_ipv6_disable_parameter"/>
        <ind:state state_ref="state_{{{ _RULE_ID }}}_ipv6_disable_argument"/>
    </ind:textfilecontent54_test>

    <ind:textfilecontent54_object id="object_{{{ _RULE_ID }}}_bootc_kargs_ipv6_disable_parameter" version="1">
        <ind:path>/usr/lib/bootc/kargs.d/</ind:path>
        <ind:filename operation="pattern match">^.*\.toml$</ind:filename>
        <ind:pattern operation="pattern match">^kargs\s*=\s*\[.*"ipv6\.disable=(\d+)".*\]$</ind:pattern>
        <ind:instance datatype="int" operation="greater than or equal">1</ind:instance>
    </ind:textfilecontent54_object>
{{%- endif %}}

    <ind:textfilecontent54_test id="test_{{{ _RULE_ID }}}_grub2_ipv6_disable_is_set" version="1"
        check="all" check_existence="all_exist"
        comment="check if ipv6.disable=1 is set in GRUB_CMDLINE_LINUX in /etc/default/grub">
        <ind:object object_ref="object_{{{ _RULE_ID }}}_grub2_ipv6_disable_parameter"/>
        <ind:state state_ref="state_{{{ _RULE_ID }}}_ipv6_disable_argument"/>
    </ind:textfilecontent54_test>

    <ind:textfilecontent54_object id="object_{{{ _RULE_ID }}}_grub2_ipv6_disable_parameter" version="1">
        <ind:filepath>/etc/default/grub</ind:filepath>
        <ind:pattern operation="pattern match">^\s*GRUB_CMDLINE_LINUX=".*ipv6\.disable=(\d).*$</ind:pattern>
        <ind:instance datatype="int" operation="greater than or equal">1</ind:instance>
    </ind:textfilecontent54_object>

    <ind:textfilecontent54_state id="state_{{{ _RULE_ID }}}_ipv6_disable_argument" version="1">
        <ind:subexpression datatype="int" operation="equals">1</ind:subexpression>
    </ind:textfilecontent54_state>
</def-group>
