# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv,multi_platform_ubuntu,multi_platform_sle
{{#
   See the OVAL template for more comments.
   Product-specific categorization should be synced across all template content types
-#}}
{{{ grub2_bootloader_argument_absent_remediation(ARG_NAME) }}}
