#!/bin/bash


function call_bash_sssd_set_option {
    {{{ bash_sssd_set_option("$1", "$2", "$3", "$4") | indent(4) }}}
}

@test "bash_sssd_set_option - Basic value remediation" {
    mkdir sssd_test
    printf "[pam]\npam_cert_auth = false\n" > sssd_test/sssd.conf
    expected_output="[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option "[pam]" "sssd.conf" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/sssd.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}

@test "bash_sssd_set_option - No remediation happened" {
    mkdir sssd_test
    printf "[pam]\npam_cert_auth = true\n" > sssd_test/sssd.conf
    expected_output="[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option "[pam]" "sssd.conf" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/sssd.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}

@test "bash_sssd_set_option - Append section with option to empty file" {
    mkdir sssd_test
    printf "" > sssd_test/sssd.conf
    expected_output="[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option "[pam]" "sssd.conf" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/sssd.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}

@test "bash_sssd_set_option - Create file with section and option" {
    expected_output="[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option "[pam]" "sssd.conf" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/sssd.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}

@test "bash_sssd_set_option - Append option to section" {
    mkdir sssd_test
    printf "[pam]\n[ssh]\n" > sssd_test/sssd.conf
    expected_output="[pam]\npam_cert_auth = true\n[ssh]\n"

    call_bash_sssd_set_option "[pam]" "sssd.conf" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/sssd.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}

@test "bash_sssd_set_option - Append section with option to non-empty file" {
    mkdir sssd_test
    printf "[ssh]\n" > sssd_test/sssd.conf
    expected_output="[ssh]\n[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option "[pam]" "sssd.conf" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/sssd.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}
