#!/bin/bash


function call_bash_sssd_set_option_new {
    # remediation changes ownership of .conf file to root with chown requiring sudo, must be removed
    {{{ bash_sssd_set_option_new("$1", "$2", "$3", "$4", "$5") | indent(4) | replace('chown root:root "$SSSD_CONF"', '') }}}
}

@test "bash_sssd_set_option_new - Basic remediation in main config" {
    mkdir sssd_test
    printf "[pam]\npam_cert_auth = false\n" > sssd_test/sssd.conf
    expected_output="[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option_new "[pam]" "pam_cert_auth" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/sssd.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}

@test "bash_sssd_set_option_new - Basic remediation in conf.d config" {
    mkdir -p sssd_test/conf.d
    printf "[pam]\npam_cert_auth = false\n" > sssd_test/conf.d/pam_cert_auth.conf
    expected_output="[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option_new "[pam]" "pam_cert_auth" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/conf.d/pam_cert_auth.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}

@test "bash_sssd_set_option_new - No remediation happened in main config" {
    mkdir sssd_test
    printf "[pam]\npam_cert_auth = true\n" > sssd_test/sssd.conf
    expected_output="[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option_new "[pam]" "pam_cert_auth" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/sssd.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}

@test "bash_sssd_set_option_new - No remediation happened in conf.d config" {
    mkdir -p sssd_test/conf.d
    printf "[pam]\npam_cert_auth = true\n" > sssd_test/conf.d/pam_cert_auth.conf
    expected_output="[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option_new "[pam]" "pam_cert_auth" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/conf.d/pam_cert_auth.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}

@test "bash_sssd_set_option_new - Create new conf.d file with section and option" {
    mkdir -p sssd_test/conf.d
    expected_output="[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option_new "[pam]" "pam_cert_auth" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/conf.d/pam_cert_auth.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}

@test "bash_sssd_set_option_new - Remediation in main and conf.d config" {
    mkdir -p sssd_test/conf.d
    printf "[pam]\npam_cert_auth = false\n" > sssd_test/sssd.conf
    printf "[pam]\npam_cert_auth = false\n" > sssd_test/conf.d/pam_cert_auth.conf
    expected_output="[pam]\npam_cert_auth = true\n"

    call_bash_sssd_set_option_new "[pam]" "pam_cert_auth" "pam_cert_auth" "true" "sssd_test"

    run diff "sssd_test/sssd.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    run diff "sssd_test/conf.d/pam_cert_auth.conf" <(printf "$expected_output")
    [ "$status" -eq 0 ]

    rm -rf sssd_test
}
