{{% if VALUE_REGEX %}}
{{{
oval_auditd_config(
	parameter=PARAMETER,
	value=VALUE_REGEX,
	missing_parameter_pass=MISSING_PARAMETER_PASS
)
}}}
{{% else %}}
{{{
oval_auditd_config(
	parameter=PARAMETER,
	missing_parameter_pass=MISSING_PARAMETER_PASS,
	var_name=VAR_NAME
)
}}}
{{% endif %}}
