<Profile id="server" extends="common">
<title override="true">Server Baseline</title>
<description override="true">This profile is for Red Hat Enterprise Linux 6
acting as a server.</description>
<select idref="wireless_disable_interfaces" selected="true"/>
<select idref="xwindows_runlevel_setting" selected="true"/>
<select idref="package_xorg-x11-server-common_removed" selected="true"/>
<select idref="sysconfig_networking_bootproto_ifcfg" selected="true"/>
</Profile>
