# platform = multi_platform_all
# reboot = false
# strategy = restrict
# complexity = low
# disruption = low

if ! grep -P "^[\s]*Defaults.*\b{{{ OPTION }}}\b.*$" /etc/sudoers; then
    echo "Defaults {{{ OPTION }}}" >> /etc/sudoers
    /usr/sbin/visudo -cf /etc/sudoers &> /dev/null || echo "Fail to validate /etc/sudoers with visudo"
fi
