# platform = multi_platform_all
# reboot = true
# strategy = configure
# complexity = low
# disruption = low

{{{ bash_file_contents("/etc/crypto-policies/policies/modules/" ~ MODULE_NAME ~ ".pmod", KEY ~ " = " ~ VALUE) }}}

sudo update-crypto-policies --set DEFAULT:{{{ MODULE_NAME }}}
