# platform = multi_platform_all

{{{ bash_dconf_settings(SECTION, PARAMETER, VALUE, DCONF_DATABASE_DIRECTORY, "00-security-settings") }}}
{{{ bash_dconf_lock(SECTION, PARAMETER, DCONF_DATABASE_DIRECTORY, "00-security-settings-lock") }}}
