# platform = multi_platform_all
# reboot = false
# strategy = disable
# complexity = low
# disruption = low

{{% if not EXISTS %}}
    if [[ -f  {{{ FILEPATH }}} ]]; then
        rm {{{ FILEPATH }}}
    fi
{{% else %}}
    touch {{{ FILEPATH }}}
    {{%- if FILEUID %}}
    chown {{{ FILEUID }}} {{{ FILEPATH }}}
    {{%- endif %}}
    {{%- if FILEMODE %}}
    chmod {{{ FILEMODE }}} {{{ FILEPATH }}}
    {{%- endif %}}
{{% endif %}}
