# platform = multi_platform_all
# reboot = false
# strategy = disable
# complexity = low
# disruption = low

{{%- if init_system == "systemd" %}}

- name: "{{{ rule_title }}} - Disable service {{{ SERVICENAME }}}"
  block:
  - name: "{{{ rule_title }}} - Collect systemd Services Present in the System"
    ansible.builtin.service_facts:
    check_mode: false

  - name: "{{{ rule_title }}} - Ensure {{{ DAEMONNAME }}}.service is Masked"
    ansible.builtin.systemd:
      name: "{{{ DAEMONNAME }}}.service"
      state: "stopped"
      enabled: false
      masked: true
    when: '"{{{ SERVICENAME }}}.service" in ansible_facts.services'

  - name: "Unit Socket Exists - {{{ DAEMONNAME }}}.socket"
    ansible.builtin.find:
      paths:
        - /etc/systemd/system
        - /run/systemd/system
        - /usr/lib/systemd/system
        - /usr/local/lib/systemd/system
      patterns: "{{{ DAEMONNAME }}}.socket"
      file_type: any
    register: socket_file_exists
    check_mode: false

  - name: "{{{ rule_title }}} - Disable Socket {{{ SERVICENAME }}}"
    ansible.builtin.systemd:
      name: "{{{ DAEMONNAME }}}.socket"
      enabled: false
      state: "stopped"
      masked: true
    when: socket_file_exists.matched > 0
{{%- else %}}
JINJA TEMPLATE ERROR: Unknown init system '{{{ init_system }}}'
{{%- endif %}}
  tags:
  - special_service_block
