# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv,multi_platform_sle,multi_platform_ubuntu
# reboot = true
# strategy = restrict
# complexity = low
# disruption = low

{{{ ansible_audit_augenrules_add_watch_rule(path=PATH, permissions='wa', key='audit_rules_usergroup_modification') }}}
{{{ ansible_audit_auditctl_add_watch_rule(path=PATH, permissions='wa', key='audit_rules_usergroup_modification') }}}
