{{% macro ocil_fix_srg_privileged_command(cmd, path_prefix="/usr/bin/") %}}
{{{ complete_ocil_entry_audit_privileged_commands(cmd, path_prefix) }}}

fixtext: |-
    {{{ fixtext_audit_rules_privileged_commands(cmd, path_prefix) | indent(4) }}}

srg_requirement: '{{{ srg_requirement_audit_command(cmd) }}}'
{{%- endmacro %}}
