{{#
    Generate a SRG requirement text for audit file watch rules.

:param path: Full path of file to watch
:type path: str

#}}
{{% macro srg_requirement_audit_file_watch_rule(path) %}}
{{{ full_name }}} must generate audit records for all account creations, modifications, disabling, and termination events that affect {{{ path }}}.
{{%- endmacro %}}

{{#
    Generate a SRG requirement text for audit syscall.

:param path: Name of the syscall
:type path: str

#}}
{{% macro srg_requirement_audit_syscall(event) %}}
Successful/unsuccessful uses of the {{{ event }}} system call in {{{ full_name }}} must generate an audit record.
{{%- endmacro %}}

