{{#
    How to fix an audit rule that watches a file.

:param path: Full path of file to watch
:type path: str
#}}
{{% macro srg_requirement_audit_file_watch_rule(path) %}}
{{{ full_name }}} must generate audit records for all account creations, modifications, disabling, and termination events that affect {{{ path }}}.
{{%- endmacro %}}

