{{#
    Generate a SRG requirement text for audit file watch rules.

:param path: Full path of file to watch
:type path: str

#}}
{{% macro srg_requirement_audit_file_watch_rule(path) %}}
{{{ full_name }}} must generate audit records for all account creations, modifications, disabling, and termination events that affect {{{ path }}}.
{{%- endmacro %}}

{{#
    Generate a SRG requirement text for audit syscall.

:param event: Name of the syscall
:type event: str

#}}
{{% macro srg_requirement_audit_syscall(event) %}}
Successful/unsuccessful uses of the {{{ event }}} system call in {{{ full_name }}} must generate an audit record.
{{%- endmacro %}}

{{#
    Generate a SRG requirement text for auditing a command.

:param command: Name of the command
:type command: str

#}}
{{% macro srg_requirement_audit_command(command) %}}
Successful/unsuccessful uses of the {{{ command }}} command in {{{ full_name }}} must generate an audit record.
{{%- endmacro %}}

{{#
    Generate a SRG requirement text for package removal.

:param package: Name of the package to be removed
:type package: str

#}}
{{% macro srg_requirement_package_removed(package) %}}
The package {{{ package }}} must be removed in {{{ full_name }}}.
{{%- endmacro %}}

{{#
    Generate a SRG requirement text for package removal.

:param module: Name of the kernel module to be disabled
:type module: str

#}}
{{% macro srg_requirement_kernel_module_disable(module) %}}
The kernel module {{{ module }}} must be disabled in {{{ full_name }}}.
{{%- endmacro %}}

{{#
    Generate a SRG requirement text for package installed.

:param package: Name of the package to be installed
:type package: str

#}}
{{% macro srg_requirement_package_installed(package) %}}
The {{{ full_name }}} package {{{ package }}} must be installed.
{{%- endmacro %}}
