# platform = multi_platform_rhel,multi_platform_fedora,multi_platform_ol,multi_platform_rhv,multi_platform_ubuntu
# reboot = false
# strategy = enable
# complexity = low
# disruption = low

{{{ bash_package_install(package=PKGNAME) }}}
