{{%- for spec in VER_SPECS -%}}
  ansible_distribution == '{{{ OS_ID_ANSIBLE }}}' and ansible_distribution_version is version('{{{ spec.ver }}}', '{{{ spec.op }}}')
{{%- if not loop.last %}} and {{% endif -%}}
{{%- else -%}}
  ansible_distribution == '{{{ OS_ID_ANSIBLE }}}'
{{%- endfor -%}}
