# platform = multi_platform_all
# reboot = false
# strategy = disable
# complexity = low
# disruption = low
{{% for package in PACKAGES %}}
include remove_{{{ package }}}

class remove_{{{ package }}} {
  package { '{{{ package }}}':
    ensure => 'purged',
  }
}
{{% endfor %}}
