# platform = multi_platform_all
# reboot = false
# strategy = configure
# complexity = low
# disruption = low

{{% for path in FILEPATH %}}
{{% if IS_DIRECTORY and FILE_REGEX %}}
readarray -t files < <(find {{{ path }}})
for file in "${files[@]}"; do
    if basename $file | grep -qE '{{{ FILE_REGEX[loop.index0] }}}'; then
        chmod {{{ FILEMODE }}} $file
    fi    
done
{{% else %}}
chmod {{{ FILEMODE }}} {{{ path }}}
{{% endif %}}
{{% endfor %}}
