{{%- for spec in VER_SPECS -%}}
{{{ bash_pkg_conditional(PKGNAME, op=spec.op, ver=spec.ev_ver) | trim }}}
{{%- if not loop.last %}} && {{% endif -%}}
{{%- else -%}}
{{{ bash_pkg_conditional(PKGNAME) }}}
{{%- endfor -%}}
