{{%- for spec in VER_SPECS -%}}
{{{ bash_pkg_conditional(PKGNAME, ver=spec.ev_ver, op=spec.op) | trim }}}
{{%- if not loop.last %}} && {{% endif -%}}
{{%- else -%}}
{{{ bash_pkg_conditional(PKGNAME) }}}
{{%- endfor -%}}
