<Profile id="server" extends="common">
<title>Server Baseline</title>
<description>This profile is for RHEL 6 acting as a server.</description>
<select idref="deactivate_wireless_interfaces" selected="true"/>
<select idref="disable_xwindows_with_runlevel" selected="true"/>
<select idref="packagegroup_xwindows_remove" selected="true"/>
<select idref="disable_dhcp_client" selected="true"/>
</Profile>
