# platform = multi_platform_all
# reboot = false
# strategy = enable
# complexity = low
# disruption = low

- name: "{{{ rule_title }}} - Collect systemd Socket Units Present in the System"
  ansible.builtin.find:
    paths:
      - /etc/systemd/system
      - /run/systemd/system
      - /usr/lib/systemd/system
      - /usr/local/lib/systemd/system
    patterns: "{{{ SOCKETNAME }}}.socket"
    file_type: any
  register: result_systemd_unit_files
  check_mode: false

- name: "{{{ rule_title }}} - Ensure {{{ SOCKETNAME }}}.socket is Enabled"
  ansible.builtin.systemd:
    name: {{{ SOCKETNAME }}}.socket
    state: started
    enabled: true
    masked: false
  when:
    - result_systemd_unit_files.matched > 0
