# platform = multi_platform_all
# reboot = false
# strategy = disable
# complexity = low
# disruption = low

{{{ ansible_instantiate_variables(VARIABLE) }}}

{{%- if init_system == "systemd" %}}

- name: "{{{ rule_title }}} - Collect systemd Services Present in the System"
  ansible.builtin.service_facts:
  check_mode: false

- name: '{{{ rule_title }}} - Ensure "{{{ DAEMONNAME }}}.service" is Masked'
  ansible.builtin.systemd:
    name: "{{{ DAEMONNAME }}}.service"
    state: "stopped"
    enabled: false
    masked: true
  when:
    - '"{{{ SERVICENAME }}}.service" in ansible_facts.services'
{{% if OPERATION == "pattern match" %}}
    - {{{ VARIABLE }}} is not regex("{{{ VALUE }}}")
{{% else %}}
    - {{{ VARIABLE }}} != "{{{ VALUE }}}"
{{% endif %}}

- name: "Unit Socket Exists - {{{ DAEMONNAME }}}.socket"
  ansible.builtin.find:
    paths:
      - /etc/systemd/system
      - /run/systemd/system
      - /usr/lib/systemd/system
      - /usr/local/lib/systemd/system
    patterns: "{{{ DAEMONNAME }}}.socket"
    file_type: any
  register: socket_file_exists
  check_mode: false

- name: Disable socket {{{ SERVICENAME }}}
  ansible.builtin.systemd:
    name: "{{{ DAEMONNAME }}}.socket"
    enabled: "no"
    state: "stopped"
    masked: "yes"
  when:
    - socket_file_exists.matched > 0
{{% if OPERATION == "pattern match" %}}
    - {{{ VARIABLE }}} is not regex("{{{ VALUE }}}")
{{% else %}}
    - {{{ VARIABLE }}} != "{{{ VALUE }}}"
{{% endif %}}
{{%- else %}}
JINJA TEMPLATE ERROR: Unknown init system '{{{ init_system }}}'
{{%- endif %}}
