# Ignore Sphinx _build directory
_build

# these folders are created by conf.py so it can properly Markdown files that are symbolic links from their original
# local, since it's not possible to render Markdown files that are from outside of this directory.
tests
release_tools
