commonmark
recommonmark>=0.6.0
sphinx
sphinx-rtd-theme
git+https://github.com/sphinx-contrib/napoleon.git#egg=sphinxcontrib-napoleon
git+https://github.com/ggbecker/sphinxcontrib.jinjadomain.git#egg=sphinxcontrib-jinjadomain
