# Config::Simple 4.59
# Wed Oct 30 14:50:23 2013

db_file: /var/www/html/scap-security-guide/docs/ssg-docs.db
toc_path: /var/www/html/scap-security-guide/docs/html
title: "SCAP Security Guide"
host: http://docs.ssgproject.org
def_lang: en-US
