# platform = multi_platform_all

{{% if product == 'sle16' %}}
PAM_FAILLOCK_DEFAULTS_FILE_NAME="/usr/etc/security/faillock.conf"
if ! [ -e "{{{ pam_faillock_conf_path }}}" ] ; then
    cp "${PAM_FAILLOCK_DEFAULTS_FILE_NAME}" "{{{ pam_faillock_conf_path }}}"
fi
{{% endif %}}

{{{ bash_instantiate_variables(EXT_VARIABLE) }}}

{{{ bash_pam_faillock_enable() }}}
{{{ bash_pam_faillock_parameter_value(PRM_NAME, '$'+EXT_VARIABLE) }}}
